@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700;800;900&family=Nunito:wght@500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--main-color: crimson;
	--primary-color: white;
	--secondary-color: black;
	--back: rgba(0, 150, 100, .3);
}

html {
	font-size: 10px;
	font-family: 'Nunito', sans-serif;
	scroll-behavior: smooth;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	overflow-x: hidden
}


.dark-mode {
	background-color: var(--secondary-color);
	color: var(--primary-color) !important;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.section-title {
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.section-title span {
	color: var(--main-color);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	position: relative;
	background-color: transparent;
	border: 2px solid transparent;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
	overflow: hidden;
}

.cta:after {
	background-color: var(--main-color);
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-100%, 0) rotate(10deg);
	transform-origin: top left;
	transition: 0.2s transform ease-out;
	will-change: transform;
	z-index: -1;
}

.cta:hover:after {
	transform: translate(0, 0);
}

.cta:hover {
	border: 2px solid transparent;
	color: #fff;
	transform: scale(1.05);
	will-change: transform;
}

/* BTN Style */
.btn {
	display: inline-block;
	padding: 10px 30px;
	margin: 5px 5px 0px 0px;
	color: var(--secondary-color);
	background-color: transparent;
	border: 2px solid var(--main-color);
	text-transform: uppercase;
	transition: 0.3s ease;
	transition-property: background-color, color;
	overflow: hidden;
}

/*End of BTN Style */


/* CTA Animation */
.cta span {
	position: absolute;
	display: inline-block;
	box-shadow: 0 0 10px lime;

}

.cta span:nth-child(1) {
	height: 2px;
	top: 0;
	left: -150px;
	width: 150px;
	background: linear-gradient(to right, var(--back), var(--main-color));
	animation: animate 2s linear infinite;

}

@keyframes animate {

	to {
		left: 150px;
	}
}

.cta span:nth-child(2) {
	height: 50px;
	width: 2px;
	right: 0;
	top: -50px;
	background: linear-gradient(to bottom, var(--back), var(--main-color));
	animation: animate2 2s linear 1s infinite;
}

@keyframes animate2 {

	to {
		top: 50px;
	}
}

.cta span:nth-child(3) {
	height: 2px;
	width: 150px;
	bottom: 0;
	right: -150px;
	background: linear-gradient(to left, var(--back), var(--main-color));
	animation: animate3 2s linear 2s infinite;
}

@keyframes animate3 {

	to {
		right: 150px;
	}
}

.cta span:nth-child(4) {
	height: 50px;
	width: 2px;
	left: 0;
	bottom: -50px;
	background: linear-gradient(to top, var(--back), var(--main-color));
	animation: animate4 2s linear 3s infinite;
}

@keyframes animate4 {

	to {
		bottom: 50px;
	}
}

/* End of CTA Animation */
.brand h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
	color: var(--primary-color);
}

.brand h1 span {
	color: var(--main-color);
	font-size: 35px;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: var(--primary-color);
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: var(--main-color);
	box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid var(--primary-color);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid var(--primary-color);
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: var(--primary-color);
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: var(--primary-color);
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}

/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/bg-img.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: var(--secondary-color);
	opacity: 0.7;
	z-index: -1;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 3.5rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#hero h1:nth-child(1) {
	animation-delay: 1s;
}

#hero h1:nth-child(2) {
	animation-delay: 2s;
}

#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--main-color);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */


/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}

#about .col-right {
	margin-top: 50px;
	align-items: center;
	width: 100%;
}

#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	margin-bottom: 20px;
}

#about .col-right .cta {
	color: var(--secondary-color);
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .col-right .cta:hover {
	color: var(--primary-color) !important;
}


#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid var(--primary-color);
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid var(--main-color);
	z-index: -1;
}

/* End About Section */

/* Qualification */

.menu {
	margin: 2rem;
}

.menu-container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 3rem;
}

.menu-btns {
	padding: 0.6rem 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu-btn {
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	background: none;
	border: none;
	color: var(--main-color);
	display: block;
	margin: 0 1rem;
	cursor: pointer;
	outline: 0;
	transition: opacity 0.4s ease-out;
}

.menu-btn::after {
	content: "";
	display: block;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	background: var(--main-color);
	margin-top: 0.5rem;
	width: 0;
	transition: width 0.4s ease-out;
}

.menu-btn:hover::after {
	width: 100%;
}

.menu-btn:hover {
	opacity: 0.8;
}

.active-btn {
	color: var(--secondary-color);
}

.dark-mode .active-btn {
	color: var(--primary-color);
}

b {
	font-size: 1.2em;
}

.menu li {
	padding: 10px;
	font-size: 1.5em;
}

.duration h4 {
	font-size: 1.5em;
}

.items {
	margin: 2rem 0;
}

.quali-item {
	border-radius: 4px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 2rem;
	overflow: hidden;
	background: var(--primary-color);
	color: var(--secondary-color);
	margin: 1.5rem 0;
	box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.content {
	padding: 1rem;
}

.position {
	font-size: 2rem;
}

.name {
	color: var(--secondary-color);
	font-weight: 500;
	text-transform: capitalize;
}

.line {
	width: 100px;
	height: 3px;
	background: var(--main-color);
	margin-bottom: 1rem;
}

.course {
	padding: 0.4rem 0;
	font-weight: 600;
	font-size: 1.4rem;
	opacity: 0.8;
}

/* End of Qualification */

/* Skills Section */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	font-size: 2rem;
}

.col,
.col-lg-3,
.col-lg-12,
.col-sm-6,
.col-sm-12 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.box-2 {
	position: relative;
	padding: 30px;
	/* From https://css.glass */
	background: rgba(7, 7, 8, 0.9);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.9px);
	-webkit-backdrop-filter: blur(6.9px);
	border: 1px solid rgba(7, 7, 8, 0.49);
	transition: all .3s ease-in-out;
	/* border-radius: 10px; */
	color: #fff;
}

.inter-icon {
	position: relative;
	background: #0e0f10;
	margin: 20px 0;
	padding: 15px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-radius: 10px;
}

.inter-icon img {
	position: relative;
	width: 30px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	margin-right: 30px;
}

.inter-icon {
	border: 0 solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.inter-icon:hover {
	border: 1px solid;
	border-top: none;
	border-bottom: none;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
	outline-color: rgba(255, 255, 255, 0);
	text-shadow: 1px 1px 2px #427388;
}

.desc-inter {
	padding-top: 3px;
}

/* End of Skills Section */

/* Project Section */
.slider-wrapper {
	width: 85%;
	margin: auto;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 25px 0 40px 0;
	text-align: center;
}

.slider-wrapper h3 {
	font-size: 25px;
}

.box {
	height: 197px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box:hover {
	box-shadow: 0 0 0 125px rgba(0, 0, 0, 0.9) inset;
}

.box p {
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1.5rem;
	color: var(--primary-color);
}

.box:hover p {
	opacity: 1;
	transform: scale(1);
}

.repo-link {
	color: var(--main-color);
	margin-left: 10px;
}

.stack-container {
	display: flex;
	justify-content: space-between;
}

.stack-container h4 {
	font-size:1.5rem;
	align-self: center;
}

.stack-badge {
	padding: .5rem 1.2rem;
	margin: 0 0.2rem;
	color: var(--primary-color);
	border-radius: 10%;
	display: inline-block;
	transition: all 0.2s ease;
	box-shadow: 5px 7px 9px 1px rgba(0, 0, 0, 0.43);
}

/* Badge Colors */
.blue {
	background: dodgerblue;
}

.orange {
	background: darkorange;
}

.gold {
	background: rgb(189, 162, 8);
}

.red {
	background: red;
}

.purple {
	background: mediumpurple;
}

.green {
	background: rgb(79, 110, 15);
}

.crimson {
	background: var(--main-color)
}

.steel {
	background: steelblue;
}

.pink {
	background: hotpink;
}

.rebecca {
	background: rebeccapurple;
}

.gainsboro {
	background: rgb(129, 126, 126);
}

.cv,
.news,
.cake,
.dinosaur,
.contact-manager,
.face-detection,
.blackjack,
.ecommerce,
.sunnyside,
.quiz {
	background-position: center;
	background-size: cover;
	background-image: url('img/cake.png');
	background-position: top center;
}

.cv {
	background-image: url('img/digital_cv.png');
	background-position: top center;
}

.news {
	background-image: url('img/newsgridsite.png');
	background-position: top center;
}

.face-detection {
	background-image: url('img/face-recognition.png');
	background-position: top center;
}

.dinosaur {
	background-image: url("img/dino.png");
	background-position: top center;
}

.blackjack {
	background-image: url("img/blackjackgame.png");
	background-position: top center;
}

.quiz {
	background-image: url('img/quiz.png');
	background-position: top center;
}

.dashboard {
	background-image: url('img/dashboard.png');
}

.contact-manager {
	background-image: url('img/contact.png');
	background-position: top center;
}

.ecommerce {
	background-image: url('img/ecommerce.png');
	background-position: top center;
}

.sunnyside {
	background-image: url('img/sunnyside.png');
	background-position: top center;
}

#controls {
	text-align: center;
}

#controls button {
	margin: 0 5px;
	padding: 8px;
	width: 50px;
	cursor: pointer;
	border-radius: 50%;
	outline: none;
	transition: 0.3s ease-out;
	border: 3px solid var(--main-color);
	box-shadow: 0 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 50px;
}

#controls button:hover {
	border: 3px solid white;
	background-color: var(--main-color);
	transform: scale(1.05);
}

#controls button:hover i {
	color: var(--primary-color);
}

#controls i {
	color: var(--secondary-color);
	font-size: 1.5rem;
}


/* End of Project Section */

.container1 {
	display: grid;
	grid-template-columns: auto;
	max-width: 1200px;
	margin: 50px auto;
	/* width: 90%; */
	text-align: center;
}

.work {
	padding: 0 20px;
	text-align: center;
}

.container1 strong {
	font-size: 1.7rem;

}

.container1 img {
	width: 100%;
	height: auto;
	object-fit: cover;
	align-items: center;
}

.formContainer {
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
	padding: 3rem;
	background-color: #fff;
	margin: 30px 0;
}

.form-group {
	margin-bottom: 1.5rem;
	transition: all .3s;
}

.form-label {
	display: block;
	opacity: 0;
	transition: all .3s;
	transform: translateX(-50px);
}

.form-control {
	box-shadow: none;
	border-radius: 0;
	border-color: #ccc;
	border-style: none none solid none;
	width: 100%;
	font-size: 2rem;
	transition: all .6s;
}

.form-control::placeholder {
	color: #aaa;
}

.form-control:focus {
	box-shadow: none;
	outline: none;
}

.form-group:focus-within {
	transform: scale(1.1, 1.1);
}

.form-control:invalid:focus {
	border-color: red;
}

.form-control:valid:focus {
	border-color: green;
}

.btn1Parent {
	text-align: center;
}

.draw-border {
	box-shadow: inset 0 0 0 2px #aaa;
	color: #555;
	transition: color 0.25s 0.0833333333s;
	position: relative;
}

.draw-border::before,
.draw-border::after {
	border: 0 solid transparent;
	box-sizing: border-box;
	content: "";
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: 0;
}

.draw-border::before {
	border-bottom-width: 3px;
	border-left-width: 3px;
}

.draw-border::after {
	border-top-width: 3px;
	border-right-width: 3px;
}

.draw-border:hover {
	color: var(--main-color);
}

.draw-border:hover::before,
.draw-border:hover::after {
	border-color: var(--main-color);
	transition: border-color 0s, width 0.25s, height 0.25s;
	width: 100%;
	height: 100%;
}

.draw-border:hover::before {
	transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
	transition-delay: 0s, 0.25s, 0s;
}

.btn1 {
	background: none;
	border-radius: 3px;
	border: none;
	color: #555;
	padding: 10 50px;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 30px;
	transition: 0.3s ease;
	transition-property: border-color, color;
	overflow: hidden;
	align-self: center;
}

.btn1:focus {
	outline: 4px dotted #aaa;
}

textarea {
	resize: none;
}



.focused>.form-label {
	opacity: 1;
	transform: translateX(0px);

}

#my-form-status {
	margin: 10px 0;
	font-weight: bold;
	font-size: 2rem
}

.success {
	color: green;
}

.error {
	color: red;
}

/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}

#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}

#footer .social-item:last-child img {
	border-radius: 50%;
	height: 38px;
	width: 38px;
	margin-bottom: -35px;

}

#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}

#footer .social-item:hover img {
	filter: grayscale(0);
}

#footer p {
	color: var(--primary-color);
	font-size: 1.3rem;
}

#footer #theme {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 30px;
	right: 10px;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
	padding: 3rem;
	background-color: var(--secondary-color);
	width: 60px;
	height: 60px;
	cursor: pointer;
	border-radius: 50%;
}

#footer #theme img {
	width: 50px;
	height: 50px;
}

/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: var(--primary-color);
	}
}

@keyframes text_reveal_name {
	100% {
		color: var(--main-color);
		font-weight: 500;
	}
}

/* End Keyframes */

@media (min-width: 576px) {
	.col-sm-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}

	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}

	/* End Hero */

	/* About */
	#about .about {
		flex-direction: row;
	}

	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}

	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid var(--main-color);
	}

	#about .col-right {
		text-align: left;
		padding: 30px;
	}

	#about .col-right h1 {
		text-align: left;
	}

	/* End About */

	/* Qualification */
	.menu-btns {
		flex-direction: row;
	}

	.quali-item {
		display: grid;
		grid-template-columns: 25% auto;
		align-items: center;
		column-gap: 1rem;
	}

	content {
		padding: 0;
	}

	/* End of Qualification */

	/* Contact Section */
	.container1 {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		text-align: left;

	}

	.btn1Parent {
		text-align: left;
	}
}

/* End Media Query For Tablet */

@media (min-width: 992px) {

	/* Skills */
	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

	/* header */
	#header .hamburger {
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */
	/* Qualification */

	.menu-btns {
		flex-direction: row;
	}

	.quali-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		padding: 0.5rem .8rem;
	}

	.work {
		width: 900px;
		margin: 0 auto;
	}

	.container1 img {
		margin-top: 50px;
	}

	.slider-wrapper {
		text-align: left;
	}

	.name {
		font-size: 25px;
	}
}


/* End  Media Query For Desktop */